#!/usr/bin/make -f

export DH_OPTIONS

BUILDTAGS := production
export DH_GOLANG_BUILDPKG := github.com/keybase/client/go/keybase \
                             github.com/keybase/client/go/kbnm \
                             github.com/keybase/client/go/kbfs/kbfsfuse \
                             github.com/keybase/client/go/kbfs/kbfsgit/git-remote-keybase

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build -v -- -tags "$(BUILDTAGS)"
